header {
    position: absolute;
    height: 107px;
    width: 100%;
    top: 26px;
    left: 9px;
    margin-bottom: 15px;
}

#projectImage {
    height: 100px;
    width: 20%;
    float: left;
    background-color:blue;
}
#projectBanner {
    height: 100px;
    width: 80%;
    float: right;
    background-color: violet;
    text-align: center;
}
h2 {
    background-color: blue;
}
#main {
    width: 100%;
    height: 47px;
    margin-left: 0px;
    background-color:lightsalmon;
    }
#main1 {
        text-align:center;
        background-color:white;
}